.header{
	height: 70vh;
	background: url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?dpr=1&auto=compress,format&fit=crop&w=1950&h=&q=80&cs=tinysrgb&crop=);
	background-repeat:no-repeat;
	background-size:cover;
}

.navbar-default {
	border: none;
	background-color: white;
}
.orange{
	color: darkorange;
}
.navbar-header{
	letter-spacing: 3px;
}